/* Apply background gradient to the entire page */
body {
    background: linear-gradient(to bottom, #3a3a3a, #0b0b0b);
    color: #eee;
    min-height: 100vh;
}

/* Center-align the main heading */
h1 {
    text-align: center;
}

/* Styling for date and date range search forms */
#dateSearch, #RangeSearch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    margin: 10px;
    margin-bottom: 40px;
}

/* Styling for daily CO2 data */
#dailyCO2, #dailyRangeCO2 {
    font-size: xx-large;
    color: #222;
    margin-left: 30px;
}

/* Styling for run ID display */
#runIdDisplay {
    position: absolute;
    top: 20px; 
    left: 0;
    right: 0;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #e4dcdc;
    padding: 10px 0;
    border-radius: 5px;
}

/* Styling for emission text */
#emission {
    font-size: 200px;
    color: #222;
}

/* Styling for the container holding various elements */
#head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* Styling for another container holding elements */
#head1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Styling for input elements, buttons, and forms */
input, #Datebtn, #Rangebtn {
    padding: 10px;
    border-radius: 2px;
    font-size: medium;
    color: #ccc;
    background-color: rgb(78, 71, 78);
}

form {
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: medium;
}

h4 {
    display: inline;
    margin: 20px;
}

/* Additional styling for buttons */
#Datebtn, #Rangebtn {
    margin: 5px;
    padding: 5px;
}

/* Styling for the main data container */
#container {
    flex: 1;
    min-width: 45%;
    color: #eee;
    margin: 20px;
    text-align: left;
    padding: 30px 30px 60px 30px;
    border: 2px solid #00eeffbb;
    border-radius: 4px;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);
}

/* Styling for metadata header */
#MetadataHeader {
    font-weight: bold;
    text-align: center;
}

/* Styling for elements within the container */
#container div {
    margin: 10px 10px;
}

/* Styling for emission rate chart */
#emissionRateChart {
    width: 45%;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);
    margin: 20px;
}

/* Styling for energy comparison chart */
#energyComparisonChart {
    flex: 1;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);
    max-width: 45%;
    margin: 20px;
}

/* Styling for power comparison chart */
#powerComparisonChart {
    width: 45%;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);
    margin: 20px;
}

/* Styling for data circles */
#dataCircle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 30px;
    border-radius: 50%;
    border: 2px solid #00eeffbb;
    box-shadow: 0px 0px 300px rgba(135, 78, 138, 0.4);
}

/* Styling for average number text */
#avgNum {
    font-weight: bolder;
    font-size: xx-large;
    margin: 0px;
    padding: 0px;
}

/* Center-align headings */
h3 {
    text-align: center;
}

/* Styling for project selection section */
#projectSelection {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-bottom: 50px;
}

/* Styling for project dropdown and run button */
#projectDropdown, #runButton {
    padding: 10px;
    border-radius: 2px;
    font-size: medium;
    color: #ccc;
    background-color: rgb(78, 71, 78);
}

#projectDropdown {
    margin-right: 10px;
}

#runButton {
    margin: 5px;
    padding: 5px;
}

/* Styling for run ID display */
#run-id {
    text-align: right;
    font-size: x-large;
    font-weight: bold;
    color: #bbb;
    margin: 10px 100px 30px 50px;
}

