/* Define background and text styles for the entire page */
body {
    background: linear-gradient(to bottom, #3a3a3a, #0b0b0b);
    color: #eee;
    min-height: 100vh;
}

/* Style for main heading */
h1 {
    text-align: center;
    margin: 30px;
}

/* Style for two specific elements with IDs */
#dateSearch, #RangeSearch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    margin: 10px;
    margin-bottom: 50px;
}

/* Style for two elements with IDs */
#dailyCO2, #dailyRangeCO2 {
    font-size: xx-large;
    color: #222;
    margin-left: 30px;
}

/* Style for a specific element with ID */
#emission {
    font-size: 200px;
    color: #222;
}

/* Styles for a group of elements with the same parent ID */
#head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
#head1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#head2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* Styles for buttons and button-like elements */
#btn, #Datebtn, #Rangebtn, button {
    padding: 5px;
    border-radius: 2px;
    font-size: medium;
    margin: 5px;
    color: #ffffff;
    background-color: rgb(78, 71, 78);
}
#csvSelect {
    padding: 5px 40px;
    border-radius: 2px;
    font-size: medium;
    margin: 5px;
    color: #fffcfc;
    background-color: rgb(78, 71, 78);
}

/* Styles for specific input elements */
#date {
    padding: 5px;
    font-size: medium;
    background-color: #3a3a3a;
    color: #eee;
}
#rangeStart, #rangeEnd {
    margin: 5px;
    font-size: medium;
    background-color: #3a3a3a;
}

/* Styles for a group of input elements */
#inputElements {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
label {
    font-size: medium;
}
h4 {
    display: inline;
}

/* Styles for a container */
#container {
    flex: 1;
    min-width: 45%;
    color: #eee;
    margin: 20px;
    text-align: left;
    padding: 30px 30px 60px 30px;
    border: 2px solid #00eeffbb;
    border-radius: 4px;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);
}

/* Styles for the header inside the container */
#MetadataHeader {
    font-weight: bold;
    text-align: center;
}

/* Styles for child divs inside the container */
#container div {
    margin: 10px 10px;
}

/* Styles for specific chart elements */
#emissionRateChart {
    width: 45%;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);
    margin: 20px;
}
#energyComparisonChart {
    flex: 1;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);
    max-width: 45%;
    margin: 20px;
}
#powerComparisonChart {
    width: 45%;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);
    margin: 20px;
}

/* Styles for a circular data display */
#dataCircle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 30px;
    border-radius: 50%;
    border: 2px solid #00eeffbb;
    box-shadow: 0px 0px 300px rgba(135, 78, 138, 0.4);
}

/* Styles for average number */
#avgNum {
    font-weight: bolder;
    font-size: xx-large;
    margin: 0px;
    padding: 0px;
}
h3 {
    text-align: center;
}

/* Styles for specific elements */
#circle {
    margin: 30px;
}
#second {
    margin-left: 10px;
}

/* Styles for a dropdown menu */
#projectDropdown {
    margin: 0px;
    padding: 0px;
    width: 150px;
    color: #3a3a3a;
}

/* Styles for a button with ID */
#runIdBtn {
    padding: 5px;
    border-radius: 2px;
    font-size: medium;
    color: #ffffff;
    background-color: rgb(78, 71, 78);
}

/* Styles for a specific section with ID */
#p-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/* Styles for a specific element with ID */
#run-id {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: 20px;
    color: #bbb;
}
